.options{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
    &__recent{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .3s;

        &:hover{
            transform: scale(1.5);
            cursor: pointer;
        }
    }

    &__allContacts{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .3s;

        &:hover{
            transform: scale(1.5);
            cursor: pointer;
        }
    }

    &__filterMessagesNotRead{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .3s;

        &:hover{
            transform: scale(1.5);
            cursor: pointer;
        }
    }
}

.custom-modal{
    background-color: rgb(57, 57, 57) !important;
    color: white;

    &-body{
        // padding: 1rem;

        .hr{
            display: flex;
            justify-content: center;
            hr{
                width: 75%;
            }
        } 

        div{
            padding: 1rem;
            &:hover{
                background-color: rgb(43, 43, 43);
            }
        }

        &__ProfileLine{
            display: flex;
            

            &__imgProfileCase {
                display: flex;
                align-items: center;
                margin-right: 2rem;
    
                &--imgProfile {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 7rem;
                    border: 1px solid transparent;
                    overflow: hidden;
        
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &--Name{
                display: flex;
                align-items: center;
            }
        }

        &__ModifyUsernameLine{
            padding: 1rem;
            display: flex;

            &:hover{
                border: 1px solid white;
            }

            &--icon{
                margin-right: 1rem;
            }
        }

        &__SuppressAccountLine{
            padding: 1rem;
            display: flex;
            color :rgb(255, 169, 169);
            &:hover{
                border: 1px solid rgb(255, 169, 169);;
            }

            &--icon{
                margin-right: 1.5rem;
            }
        }

        &__user{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgb(121, 121, 121);
            &--nameOfTheUser{
                color: rgb(108, 108, 108);
            }    
        }
    }
}